.bg
{
    background: silver;
    
}

.menu
{
    margin: 0px; padding: 0px; list-style: none; text-align: center;
}


.menu li
{
    float: left; border-right: 1px solid black;
}

.menu li a
{
    text-decoration: none; padding: 10px 50px 10px 50px; display: block; background-color: green; color: white;
    font-weight: bold; font-size: 20px;
}

.menu li a:hover
{
    background-color: white; color: red; 
}

.menu2
{
    margin: 0px; padding: 0px; list-style: none; text-align: center; align-self: center;
}


.menu2 li
{
    float: left; border-right: 1px solid black;
}

.menu2 li a
{
    text-decoration: none; padding: 10px 10px 10px 10px; display: block; background-color: green; 
    color: white; font-weight: bold; font-size: 20px;
}

.menu2 li a:hover
{
    background-color: white; color: red; 
}

.link
{
    text-decoration: none; color: red; background-color: black; padding: 10px;
}

.link:hover
{
    color: black; background-color: blue; padding: 10px;
}

.footer
{
    background-color: grey; color: white; font-size: 18px; padding: 5px; width: 800px;
} 
